__pycache__
.vscode
experiment
out

*.pyc
*.png
*.sh
*.ipynb
.ipynb_checkpoints/
sketch*.py
todos.md
benchmark_config

model/mit_semseg/*
documents/*.odg
profile*
test*
trace*
*.patch
a.txt
*_tmp.py

options/*
test*
trainer_debug.py
*autopsy*
notebooks/*.ipynb
